.grow{
    flex-grow: 0;
}

.fundoADMlogin{ 
    background-color: rgb(10, 10, 10);
}

.opcoesADM{
    color: rgb(255, 255, 255);
}
.opcoesADM:hover{
    color: white;
    text-shadow: rgb(114, 114, 114) 0 0 1em;
}
.wCad{
    text-align: center;
    color: white;
}
.wAdm{
    text-align: center;
    color: white;
}
.bglist{
    background-color:#1C1C1C;
    color: white;
    border-color: #1C1C1C;
}
.bgAside{
    background-color: #1C1C1C;

}
.colapse{
    background-color: #1C1e1e;
}
.colapseList{
    background-color: #0d0e0e;
    border-color: #0d0e0e;
}
.msgerro{
    display: none;
}
#msg{
    display: none;
}

 /* Estilo de classificacao dos filmes */
.amarelo{
    background-color: rgb(189, 189, 35);
    color: black;
}
.verde{
    background-color: rgba(43, 173, 18, 0.877);
    color: black;
}
.azul{
    background-color: rgb(6, 77, 138);
    color: black;
}
.laranja{
    background-color: rgb(187, 103, 1);
    color: black;
}
.vermelho{
    background-color: rgb(181, 20, 20);
    color: black;
}
.preto{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/* -------------------- */

/* --------------Login--------------- */

.formEmailAdm{
    width: 300px;
    border-radius: 30px;
    height: 50px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}
.formSenhaAdm{
    width: 300px;
    border-radius: 30px;
    height: 50px;
    align-items: center;
}

.labelAdm{
    color: white;
    text-align: center;
}

.cardADMlogin{
    border: none;
}

.divLabelAdm{
    text-align: center;
}

.btnAdmLogin{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #0b7d07;
    color: white;
}

.btnAdmLogin:hover{
    scale: 1.15;
    /*transform: perspective(20px);*/
    transition-duration: 0.5s;
    background-color: #1e1c1c;
}

/*Adm off canva*/

.btnOffCanvas{
    background-color: white;
}
.btnChamaOffCanva{
    background-color: gray;
    margin-left: 5px;
    color: white;
}

/*Botoes*/

.botaoRadius{
    border-radius: 30px;
}

.verdeBtn{
    background-color: #075d07;
    color: white;
}

.verdeBtn:hover{
    background-color: #075d07;
    color: white;
}

.vermelhoBtn{
    background-color: #830303;
    color: white;
}

.vermelhoBtn:hover{
    background-color: #830303;
    color: white;
}

.azulBtn{
    background-color: #043a8a;
    color: white;
}

.azulBtn:hover{
    background-color: #043a8a;
    color: white;
}
