.grow{
    flex-grow: 0;
}


.wCad{
    text-align: center;
    color: white;
}
.wAdm{
    text-align: center;
    color: white;
}
.bglist{
    background-color:#1C1C1C;
    color: white;
    border-color: #1C1C1C;
}
.bgAside{
    background-color: #1C1C1C;

}
.colapse{
    background-color: #1C1e1e;
}
.colapseList{
    background-color: #0d0e0e;
    border-color: #0d0e0e;
}
.msgerro{
    display: none;
}
#msg{
    display: none;
}


/* --------------Login--------------- */
.fundoADMlogin{
    background-color: white;
}

.formEmailAdm{
    width: 300px;
    border-radius: 30px;
    height: 50px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}
.formSenhaAdm{
    width: 300px;
    border-radius: 30px;
    height: 50px;
    align-items: center;
}

.labelAdm{
    color: black;
}

.cardADMlogin{
    border: none;
}

.divLabelAdm{
    text-align: center;
}

.btnAdmLogin{
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #0b7d07;
    color: white;
}

.btnAdmLogin:hover{
    scale: 1.15;
    /*transform: perspective(20px);*/
    transition-duration: 0.5s;
    background-color: #1e1c1c;
}



/*----------Adm off canva----------*/

.btnOffCanvas{
    background-color: white;
}
.btnChamaOffCanva{
    background-color: black;
    margin-left: 5px;
    color: white;
}

.btnChamaOffCanva:hover{
    background-color: black;
}

.cinzaCanva{
    background-color: lightgray;
    color: black;
}

.opcoesADM{
    color: black;
}
.opcoesADM:hover{
    text-shadow: rgb(114, 114, 114) 0 0 1em;
}

/*-----------Botões----------*/

.botaoRadius{
    border-radius: 30px;
}

.verdeBtn{
    border-color: lightgreen;
    color: black;
}

.verdeBtn:hover{
    transition-duration: 0.5s;
    background-color: green;
    color: white;
}

.vermelhoBtn{
    border-color: lightcoral;
    color: black;
}

.vermelhoBtn:hover{
    transition-duration: 0.5s;
    background-color: red;
    color: white;
}

.azulBtn{
    border-color: lightblue;
    color: black;
}

.azulBtn:hover{
    transition-duration: 0.5s;
    background-color: blue;
    color: white;
}


.cinza{
    background-color: lightgray;
}